@import './video';
.control {
  &__desc {
    margin: 0 auto;
    max-width: rem(570);
    font-family: 'Futura Book';
    font-weight: 400;
    font-size: rem(20);
    line-height: rem(34);
    text-align: center;
    color: $text;
  }
  &__top__line {
    &:before {
      content: '';
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: rem(34);
      width: rem(54);
      height: rem(2);
      background-color: $primary;
    }
  }
  &__form {
    max-width: rem(768);
    margin: 62px auto 0;
  }
}
