footer {
  padding: rem(48) 0;
  background-color: $dark;
  @media (max-width: 767px) {
    display: none;
  }
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
