.main__menu {
  width: calc(100% - 533px);
  @media (max-width: 1024px) {
    width: calc(100% - 426px);
  }
  @media (max-width: 767px) {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark;
    padding: 70px 10px 20px 10px;
    transition: top 0.3s ease 0s;
    overflow: auto;
    &.active {
      top: 0;
    }
  }
  & > ul {
    display: flex;
    padding: 0 1%;
    width: fit-content;
    margin: 0 auto;
    @media (max-width: 767px) {
      flex-direction: column;
      margin: 0;
      padding: 0 7%;
      li:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    & > .submenu > ul {
      left: 0;
      top: 26px;
    }
    & > .nav__item {
      overflow: hidden;
      width: 0;
      @media (max-width: 767px) {
        overflow: visible;
        width: auto;
      }
      &.open {
        overflow: visible;
        width: auto;
      }
      &.submenu.open-bottom > ul {
        left: 0 !important;
        top: 26px !important;
      }
      &.submenu.open-top > ul {
        left: 0 !important;
        bottom: 26px !important;
        top: auto !important;
      }
    }
  }
  ul {
    list-style-type: none;
    .submenu {
      position: relative;
      & > span,
      & > a {
        &::after {
          content: "›";
          margin-left: rem(10);
          font-size: rem(24);
          transform: rotate(90deg);
          transform-origin: center;
          display: flex;
        }
      }
      &:hover > span::after,
      &:hover > a::after {
        transform: rotate(-90deg);
      }
      &.open-left,
      &.open-right {
        & > ul {
          top: -15px;
          left: 100%;
        }
      }
      &.open-left {
        & > ul {
          right: 100%;
          left: auto;
        }
      }
      &.open-bottom {
        & > ul {
          top: -15px;
        }
      }
      &.open-top {
        & > ul {
          bottom: -15px;
          top: auto;
        }
      }
      & > ul {
        position: absolute;
        display: none;
        flex-direction: column;
        padding: 15px 0;
        min-width: 100%;
        background-color: $dark;
        @media (max-width: 767px) {
          height: 0;
          position: static;
          overflow: hidden;
        }
        span,
        a {
          &:hover {
            background-color: $primary;
            color: $light;
          }
        }
      }
      &:hover {
        & > ul {
          display: flex;
          @media (max-width: 767px) {
            height: auto;
            padding: 15px 0 0;
            margin-left: 20px;
          }
        }
      }
    }
    span,
    a {
      display: flex;
      padding: 5px 10px;
      width: fit-content;
      min-width: 100%;
      font-size: rem(14);
      font-weight: 400;
      line-height: rem(16);
      color: $light;
      text-transform: uppercase;
      text-decoration: none;
      transition: color ease-in-out 0.2s;
      cursor: pointer;
      @media (max-width: 767px) {
        font-size: rem(24);
      }
      &:hover {
        color: $primary;
      }
    }
  }
}
.dd_menu {
  display: none;
  @media (max-width: 767px) {
    display: none !important;
  }
  .nav__item {
    display: none;
  }
  position: relative;
  .dropdown-menu {
    display: none;
    position: absolute;
    padding: 0;
    right: 0;
    top: 30px;
    background-color: $dark;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    &.open {
      display: block;
    }
  }
}
