.furniture {
  position: relative;
  &::before {
    @media (max-width: 890px) {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
      z-index: 0;
      height: 50%;
      top: auto;
      bottom: 0;
      background-color: $black;
    }
  }
  &__bg {
    position: relative;
    &::before,
    &__image {
      position: absolute;
      top: rem(110);
      width: 100%;
      height: calc(100% - rem(150));
      user-select: none;
      @media (max-width: 890px) {
        display: none;
      }
    }
    &::before {
      content: '';
      background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
      z-index: 2;
    }
    &__image {
      object-fit: cover;
    }
  }
  &__slider {
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: 0;
    width: 60%;
    overflow: visible;
    @media (max-width: 890px) {
      display: none;
    }
    &--mobile {
      display: none;
      img {
        width: 100%;
      }
      @media (max-width: 890px) {
        display: block;
      }
      .swiper-button-prev,
      .swiper-button-next {
        position: absolute;
        top: 50%;
        width: rem(36);
        height: rem(36);
        border-radius: 50%;
        background-color: $primary;
        background-image: url('../img/theme/arrow.svg');
        background-size: rem(14);
        transform: rotate(-90deg) translateX(50%);
        transform-origin: center;
        box-shadow: 0px 0px 15px rgba($primary, 0.5);
        @media (max-width: 767px) {
          display: none;
        }
      }
      .swiper-button-prev {
        transform: rotate(90deg) translateX(-50%);
      }
      .swiper-button-disabled {
        opacity: 0.7 !important;
      }
    }
    .swiper-wrapper {
      overflow: hidden;
    }
    .swiper-slide {
      column-count: 2;
      column-gap: rem(40);
      figure {
        margin: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: rem(40);
        break-inside: avoid;
        transition: transform ease-in-out 0.4s, opacity ease-in-out 0.4s;
        &:nth-of-type(2),
        &:first-child {
          transform: translateY(rem(70));
        }
        &:nth-of-type(3),
        &:last-child {
          transform: translateY(0);
        }
      }
      img {
        max-width: 100%;
        display: block;
      }
      &:not(.swiper-slide-active) * {
        opacity: 0;
      }
      &.swiper-slide-prev,
      &.swiper-slide-next {
        figure {
          &:first-child {
            transform: translateY(rem(50));
          }
          &:nth-of-type(2) {
            transform: translateY(rem(90));
          }
          &:last-child {
            transform: translateY(rem(20));
          }
          &:nth-of-type(3) {
            transform: translateY(rem(-20));
          }
        }
      }
    }
  }
  &__nav {
    position: absolute;
    left: -66%;
    top: 50%;
    transform: translateY(-45%);
  }
  &__title {
    margin-bottom: rem(47);
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: rem(27);
    line-height: rem(37);
    text-transform: uppercase;
    color: $primary;
  }
  &__pagination {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(23);
  }
  &__bullet {
    display: flex;
    flex-direction: column;
    width: auto !important;
    height: auto !important;

    border-radius: 0;
    background-color: transparent !important;
    font-family: 'Futura Book';
    font-weight: 500;
    font-size: rem(20);
    line-height: rem(26);
    color: $light;
    transition: color ease-in-out 0.2s;
    opacity: 1;
    &::after {
      content: '';
      width: 0%;
      height: 1px;
      background-color: $primary;
      transition: width ease-in-out 0.2s;
    }
    &.swiper-pagination-bullet-active {
      color: $primary;
      &::after {
        width: 61%;
      }
    }
  }
}
